    
html, body {
    margin: 0;
    padding: 0;
    background-image: url(bacccc.png);
}

        .boxdiv {
            position: relative;
            min-height: 700px;
            padding-left: 20px;
            padding-right: 20px;

            background-color: #008b8b;
            border: 6px solid orange;
            border-radius: 0px;

            
            box-shadow: 0px 10px 16px rgba(0, 0, 0, .2);

            background:
                radial-gradient(
                    120% 80% at 50% 0%,
                    rgba(255,255,255,0.45),
                    rgba(255,255,255,0) 60%
                ),
                linear-gradient(
                    to bottom,
                    #18a3a3,
                    #008b8b 55%,
                    #006d6d
                );
        }

        body {
            
            background-repeat: no-repeat;
            background-position: cover;

            font-family: system-ui, -apple-system, BlinkMacSystemFont,
                         "Segoe UI", Roboto, Ubuntu, sans-serif;
            color: #222;
        }

        header {
            
            top: 48px;
            left: 48px;

            font-size: 75px;
            font-weight: bold;
        }

        .intro {
            
            top: 150px;
            left: 48px;

            font-size: x-large;
            font-weight: bold;

            margin-bottom: 20px;
        }

        .big_gap {
            
            top: 150px;
            left: 48px;

            font-size: x-large;
            font-weight: bold;
            margin-top: 20px;
        }
        .btn {
            cursor: pointer;
            padding-left: 20px;
            padding-right: 20px;

            background-color: #008b8b;
            border: 6px solid orange;
            border-radius: 100px;

            
            box-shadow: 0px 10px 16px rgba(0, 0, 0, .2);

            background:
                radial-gradient(
                    120% 80% at 50% 0%,
                    rgba(255,255,255,0.45),
                    rgba(255,255,255,0) 60%
                ),
                linear-gradient(
                    to bottom,
                    #18a3a3,
                    #008b8b 55%,
                    #006d6d
                );
        }
        
        .box {
    top: -100px;
    width: 249px;
    height: 80px;
    background: radial-gradient(
                    120% 80% at 50% 0%,
                    rgba(255,255,255,0.45),
                    rgba(255,255,255,0) 60%
                ),
                linear-gradient(
                    to bottom,
                    #18a3a3,
                    #008b8b 55%,
                    #006d6d
                );
    border: 6px solid orange;
    border-radius: 320px;
    margin-top: -10px;

    
    transition: transform 0.4s ease;

        }
        .top {
            position: relative;
            z-index: 2;
        }
        .bottom {
            position: relative;
            z-index: 1;
        }
.box.move {
    transform: translateY(90px);
}
        